<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Inscripción Realizada</title>

</head>
<body>
  <div class="header">
    <div class="badge">INSCRIPCIÓN REALIZADA</div>
  </div>

  <div class="subheader">
    FICHA DE SOLICITUD DE INGRESO <br>
    PROA RÍO TERCERO
  </div>

  <div class="message">
    LA RESPUESTA FUE PROCESADA, AL MOMENTO DE TENER VACANTE, NOS COMUNICAREMOS CON USTED.
  </div>

  <div class="thanks">
    ¡MUCHAS GRACIAS!
  </div>
</body>
</html>