<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Inicio - Inscripción PROA</title>

</head>
<body>
  <div class="inicio-contenedor">
    <div class="bienvenida">
      <h1>BIENVENIDOS</h1>
    </div>

    <div class="titulo-ficha">
      <p>FICHA DE SOLICITUD DE INGRESO</p>
      <p>PROA RÍO TERCERO</p>
    </div>

    <div class="aclaracion">
      <h2>ACLARACIÓN</h2>
      <p>
        Estudiantes cursando: <br />
        De 1º a 3º año de cualquir institución. <br />
        De 4º a 6º año, únicamente InterPRoA.
      </p>
    </div>

    <div class="boton-inicio">
      <a href="{{ url_for('login') }}">INICIAR</a>
    </div>
  </div>
</body>
</html>
