<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio - Inscripción PROA</title>

</head>
<body>
  <div class="inicio-contenedor">
    <div class="bienvenida">
      <h1>BIENVENIDOS</h1>
    </div>

    <div class="titulo-ficha">
      <p>FICHA DE SOLICITUD DE INGRESO</p>
      <p>PROA RÍO TERCERO</p>
    </div>

    <div class="aclaracion">
      <h2>ACLARACIÓN</h2>
      <p>
        De primero a tercer año secundario recibimos chicos/as de cualquier institución cursada. <br />
        De cuarto a sexto año, solo InterPRoA.
      </p>
    </div>

    <div class="boton-inicio">
      <a href="login.html">INICIAR</a>
    </div>
  </div>
</body>
</html>
