<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ficha de Solicitud de Ingreso</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="formulario">
    <header>
      <h1>FICHA DE<br><span>SOLICITUD DE INGRESO</span></h1>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  <form method="POST" action="{{ url_for('inscripcion') }}">
    <h2 class="seccion">DATOS DEL ESTUDIANTE</h2>
    <div class="campos">
      <label>Nombre:</label>
      <input type="text" name="nombre" required>

      <label>Apellido:</label>
      <input type="text" name="apellido" required>

      <label>Edad:</label>
      <input type="number" name="edad" required>

      <label>DNI:</label>
      <input type="text" name="dni" required>

      <label>Secundario cursado:</label>
      <input type="text" name="secundario_cursado">

      <label>Repitente / ¿Qué año repitió?:</label>
      <input type="text" name="repitente">

      <label>Domicilio:</label>
      <input type="text" name="domicilio">

      <label>Año cursado y qué cursará:</label>
      <input type="text" name="anio_cursado">
    </div>

    <h2 class="seccion">DATOS DEL TUTOR</h2>

    <div class="campos">
      <label>Nombre y Apellido:</label>
      <input type="text" name="tutor-nombre">

      <label>Correo electrónico:</label>
      <input type="email" name="tutor-email">

      <label>DNI:</label>
      <input type="text" name="tutor-dni">

      <label>Número de teléfono:</label>
      <input type="text" name="tutor-telefono">
    </div>

   
      <div class="footer">
        <div class="info">
          <p>📍 Calle Río Gallegos 456</p>
          <p>📞 (55) 1234 5678</p>
        </div>

        <button type="submit">SIGUIENTE</button>
        
        <div class="redes">
          <p>📷 @proa.rio3_ds</p>
          <p>📧 rio3cerro.ds@escuelasproa.edu.ar</p>
          <p>🌐 www.sitioincreible.com</p>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
