<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inscripciones - Login</title>
  <link rel="stylesheet" href="{{ url_for('Static', filename='styles.css') }}">
</head>
<body class="login-body">
  <div class="login-contenedor">
    <h1>Bienvenido/a al Sistema de Inscripciones </h1>
    <h2>Escuela PRoA</h2>
    <form action="{{ url_for('login') }}" method="POST">
      <label for="usuario">Dirección de Mail:</label>
      <input type="text" id="usuario" name="usuario" required>

      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" name="contraseña" required>

      <button type="submit">Ingresar</button>
    </form>
    <p>¿No tenés cuenta? <a href="{{ url_for('index') }}">Volver al inicio</a></p>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</body>
</html>