<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opciones de Ingreso - PRoA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1>Bienvenido/a</h1>
      <p>Seleccioná una opción para continuar</p>
    </header>

    <div class="opciones">
    {% if alumno_id %}
    <a href="{{ url_for('estado_inscripcion', id=alumno_id) }}" class="card">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Estado de Inscripción">
        <h2>Estado de Inscripción</h2>
        <p>Consulta o modifica el estado de inscripción.</p>
    </a>
         <a href="/inscripcion" class="card">
        <img src="https://i.pinimg.com/736x/89/39/c8/8939c815f01ffd36fbf1beb6ebfc25b0.jpg" alt="Ficha de pase">
        <h2>Ficha de Pase de Alumno</h2>
        <p>Completá la información para realizar el pase.</p>
      </a>
    {% endif %}

      <a href="/inscripcion" class="card">
        <img src="https://i.pinimg.com/736x/89/39/c8/8939c815f01ffd36fbf1beb6ebfc25b0.jpg" alt="Ficha de pase">
        <h2>Ficha de Pase de Alumno</h2>
        <p>Completá la información para realizar el pase.</p>
      </a>
    </div>


</div>
  </div>
</body>
</html>
